$xs-font: 1.2rem;
$small-font: 1.6rem;
$medium-font: 3.2rem;
$large-font: 4.8rem;

$xs-size: 1.0rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

$off-blue:#e6faff;
$off-grey:#333333;
$light-grey:#f7f7f7;
$sat-red:#cc0000;
$grey:#666666;
$dark-grey:#262626;

$desktop-breakpoint: 45rem;